---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "styles/index",
  "styles/html_editor",
  "syntax-highlighting"
;

/* Page Layout
-------------------------------------------------- */

/* Substance base.css overrides */

h2 {
  margin-top: 40px;
}

body .limiter {
  max-width: 800px;
  padding: 0px 15px;
}


.site-footer {
  padding: 50px 0;
}

.substance-header {
  font-size: 60px;
  font-family: 'Josefin Sans';
  font-weight: 600;
  color: rgba(0,0,0,0.75);
}

.intro {
  font-size: 24px;
}

.substance-header:hover {
  color: rgba(0,0,0,0.75);
}

/* Demo styles */

.demo {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 40px;
}

/* Projects */

// .project {
//   display: flex; align-items: center;
//   margin: 60px 0;
// }

// .project .about {
//   flex: 1;
// }

.project .image {
  // flex: 1;
  // padding: 20px;
  margin: 40px 0;

  img {
    width: 100%;
  }
}

/* Publications */

.publication {
  padding: 10px 0;
}

/* Team */

.team-member {
  display: flex; align-items: center;
  margin: 50px 0;

  .name {
    font-weight: 700;
  }

  .position {
    color: #999;
    padding-left: 10px;
  }

  .image {
    width: 200px;
    padding: 10px;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}

body .site-header {
  display: flex; align-items: center;
  padding-top: 60px;
  padding-bottom: 0px;
}

.container { display: flex; align-items: flex-start; }
.stretch { flex: 1; }


/* Large */
.navigation {

  display: flex;
  // display: none;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;

  .nav-item {
    padding: 2px 5px;
  }
}

// Mobile-tweaks for the better Substance
@media all and (max-width: 640px) {


  .project {
    flex-direction: column;
  }

  .team-member .image {
    display: none;
  }

  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    margin-top: 40px;
  }
}


body {
  // background: #fbf9f1;
  background: #F3F3F3;
}

/* Editor component
------------------------------------------------------- */

.html-editor-component {
  margin-top: 60px;
  border: 1px solid #ddd;
  background: white;
  
  color: #222;
  position: relative;
}

.toolbar {
  position: absolute;
  left: 14px;
  right: 14px;
  top: 14px;
  padding-bottom: 20px;
  // border-bottom: 1px solid #eee;
}

.html-editor-component .container-node {
  padding: 20px;
  margin-top: 40px;
  // max-height: 400px;
  // overflow: auto;
}

