---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


/* Page Layout
-------------------------------------------------- */

/* Substance base.css overrides */

h2 {
  margin-top: 40px;
}

ul {
  margin: 0px;
  padding-bottom: 20px;

  li {
    padding-bottom: 10px;
  }
}


p {
  padding-bottom: 20px;
}

blockquote {
  font-style: italic;
  font-size: 16px;
  padding-bottom: 20px;
}

body .limiter {
  max-width: 800px;
  padding: 0px 15px;
}

.site-footer {
  padding: 50px 0;
  color: rgba(255,255,255,0.7);

  a {
    color: white;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

body .site-header {
  padding-top: 30px;
  padding-bottom: 40px;

  color: rgba(255, 255, 255, 0.7);

  a {
    color: #fff;
  }

  .substance-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;


    .substance-logo {
      padding-right: 20px;
      font-size: 40px;
      font-family: 'Avenir Next', Helvetica, Arial;
      font-weight: 500;
    }


    /* Large */
    .navigation {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      .nav-item {
        font-size: 15px;
        font-weight: 700;
        margin-right: 10px;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }

  .intro {
    padding: 30px 0;
    // text-align: center;
    // color: rgba(255, 255, 255, 0.7);
    font-size: 26px;

    a {
      color: #fff;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

}


.editor-info {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 30px;

  a {
    color: #fff;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}


/* Demo styles */

.demo {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 40px;
}


.project .image {
  margin: 40px 0;

  img {
    width: 100%;
  }
}

/* Publications */

.publication {
  padding: 10px 0;
}

/* Team */

.team-member {
  // display: flex; align-items: center;
  margin: 50px 0;
  overflow: hidden;

  .name {
    font-weight: 700;
  }

  .position {
    color: #999;
    padding-left: 10px;
  }

  .image {
    float: right;
    width: 100px;
    padding: 10px;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}

.container { display: flex; align-items: flex-start; }
.stretch { flex: 1; }

// Mobile-tweaks for the better Substance
@media all and (max-width: 640px) {


  .project {
    flex-direction: column;
  }

  .team-member .image {
    display: none;
  }

  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    margin-top: 40px;
  }
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  background: rgba(0,0,0,0.9); /* #282B35; */
  // Overrides demo styles
  padding: 0px;
  overflow: visible;
}

.teaser {
  padding-bottom: 60px;
}

.home {
  padding-top: 30px;
  padding-bottom: 80px;
  background: #fff;
}

.screencap {
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

.partners-supporters {
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
}
.partners-supporters > a {
  display: inline-block;
}

.partners-supporters > a img {
  display: block;
  margin: 0;
  padding: 0;
}

/* Editor component
------------------------------------------------------- */

.sc-notepad {
  border: 1px solid transparent;
  background: white;
  color: #222;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

// Monkey-patch split pane
.sc-split-pane {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  overflow: visible;
}
