<div class="site-footer">
  <div class="limiter">
    <!-- <h3>Contact</h3> -->
    <p>
      Substance Software GmbH<br/>
      Harrachstrasse 28<br/>
      4020 Linz, Austria<br/>
      <a href="mailto:info@substance.io">info@substance.io</a>
    </p>
    <p>
      Substance Software GmbH is registered in Linz, No. FN 408728x<br/>
      VAT Reg.No.: ATU68395257
    </p>
    <p>
      Find us on <a href="http://twitter.com/_substance">Twitter</a> and <a href="http://github.com/substance">Github</a>. Also, subscribe to our <a href="https://groups.google.com/forum/#!forum/substance_">mailing list</a>.
    </p>
    <p><a href="/tos">Terms</a> + <a href="/privacy">Privacy</a> © Substance {{ site.time | date: '%Y' }}</p>
  </div>
</div>