<div class="site-header texture-header">
  <div class="limiter">
    <!-- take space needed to the left -->

    <div class="substance-header">
      <div class="substance-logo"><a href="/"><img src="/images/substance-logo.svg" height="30"></a></div>

      <div class="navigation">
        <a class="nav-item" href="/">Substance</a>
        <a class="nav-item" href="/consortium">Consortium</a>
        <a class="nav-item" target="_blank" href="http://github.com/substance/texture">Github</a>
      </div>
    </div>
    <div class="title">Texture</div>
    <div class="intro">A visual editor for research</div>
  </div>
</div>
